<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stpauls.dailyliturgy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name="com.stpauls.dailyliturgy.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.stpauls.dailyliturgy.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/FullScreenAppTheme">

        </activity>

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.godsWord.BibleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenAppTheme" />
        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.commonPrayers.PrayerCollection"
            android:theme="@style/FullScreenAppTheme" />
        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.popularHymns.PopularHymnsActivity"
            android:theme="@style/FullScreenAppTheme" />
        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.homelyTips.HomelyTips"
            android:theme="@style/FullScreenAppTheme" />

        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.orderOfMass.OrderOfMass"
            android:theme="@style/FullScreenAppTheme" />
        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.moreApps.MoreApps"
            android:theme="@style/FullScreenAppTheme" />
        <activity
            android:exported="true"
            android:name="com.stpauls.dailyliturgy.aboutUs.AboutUs"
            android:theme="@style/FullScreenAppTheme" />
        <activity android:name=".orderOfMass.NewOrderOfMass"
            android:exported="true"
            android:theme="@style/FullScreenAppTheme"/>

        <receiver android:name="com.stpauls.dailyliturgy.popularHymns.PopularHymnsActivity$MediaActionReceiver"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>